.main-header {
  width: 100%;
  max-width: 1440px;
  padding: 40px 20px;
  margin: auto;

  @media (min-width: 1440px) {
    padding: 40px 100px;
  }

  img {
    width: 268px;
    height: auto;
    display: block;
    margin: auto;
  }

  &__search {
    position: relative;
    margin: 20px 0;

    &--bar {
      width: 100%;
      height: 69px;
      padding: 0 20px;
      font-size: 1rem;
      background: $light-grey;
      border: none;
      border-radius: 5px;
    }

    &--btn {
      position: absolute;
      right: 17px;
      top: 0;
      height: 69px;
      font-size: 1.8rem;
      background: $light-grey;
      border: none;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__tags {
    margin-bottom: 15px;

    &--btn {
      background: $primary-color;
      border: none;
      color: #fff;
      font-weight: 500;
      font-size: 1rem;
      border-radius: 5px;
      padding: 8px 20px;
      margin: 0 10px 10px 0;

      &:hover {
        cursor: pointer;
      }

      span {
        margin-left: 10px;
      }
    }
  }

  &__filters {
    &--elt {
      display: inline-block;
      height: 69px;
      width: 100%;
      position: relative;
      margin: 0 0 10px 0;

      &:nth-child(2) {
        @media (min-width: 600px) {
          margin-left: 20px;
          margin-right: 20px;
        }
      }

      @media (min-width: 600px) {
        width: 170px;
      }

      input {
        height: 69px;
        width: 100%;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 500;
        padding: 0 0 0 15px;

        @media (min-width: 600px) {
          width: 170px;
        }
      }

      &--1 {
        background: $primary-color;
      }

      &--2 {
        background: $secondary-color;
      }

      &--3 {
        background: $tertiary-color;
      }

      span {
        position: absolute;
        display: block;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.5rem;
        color: #fff;
      }
    }
  }
}
