.main-content {
  width: 100%;
  max-width: 1440px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: 1440px) {
    justify-content: space-between;
    padding: 0 100px;
  }
}

.recipe {
  width: 100%;
  max-width: 380px;
  border-radius: 5px;
  margin: 0 20px 50px 20px;

  @media (min-width: 1440px) {
    margin: 0 0 50px 0;
  }

  &-img {
    width: 100%;
    height: 178px;
    background: $dark-grey;
    border-radius: 5px 5px 0 0;
  }

  &-data {
    padding: 20px;
    background: $light-grey;
    border-radius: 0 0 5px 5px;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 400;
    }

    strong {
      font-weight: 700;
    }
  }

  &-time {
    font-size: 1.2rem;
    font-weight: 700;
  }

  &-category {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    font-size: 0.9rem;
    padding-right: 5px;
  }
}
